

.main {
    background-color: #F4F0F6;
    color: #2D0B31;            

    padding: 3rem;
    margin: 2rem auto;
    max-width: 93%;
    border-radius: 30px; 

  
    box-shadow: 0 0 30px 20px rgba(244, 240, 246, 0.8), 
                0 15px 20px rgba(95, 43, 112, 0.1); 
    
    
    backdrop-filter: blur(5px);
    border: 1px solid rgba(218, 182, 225, 0.3); 
}


@media (max-width: 500px) {
    .main {
        max-width: 96%;
        margin: 1rem auto;
        
        padding: 1.5rem 1rem;
        
        border-radius: 20px;
        
        box-shadow: 0 10px 25px rgba(95, 43, 112, 0.12);
        
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}