.exitButton {
 
  background-color: #5F2B70;
  color: #F4F0F6;  
  border: 2px solid #9E67B2; 
  
 
  padding: 8px 16px;
  font-family: 'Segoe UI', sans-serif; 
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  
  
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}