@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');


:root {
    
    --midnight-violet: #2D0B31;
    --ghost-white: #F4F0F6;
  }
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    background-color: var(--ghost-white);
    color: var(--midnight-violet);
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    letter-spacing: -0.02em; 
  }